body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #000;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* BOTONES */
button {
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #6200ea;
    color: white;
}

/* INPUTS */
input {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
}

/* ===== MODO OSCURO ===== */

body.dark {
    background: #121212;
    color: white;
}

body.dark .card {
    background: #1e1e1e;
}

body.dark button {
    background: #bb86fc;
    color: black;
}

body.dark input {
    background: #2c2c2c;
    color: white;
    border: 1px solid #555;
}

progress {
    width: 100%;
    height: 20px;
}